statsmodels
numpy
pandas
matplotlib
seaborn
openpyxl
scipy
scikit-learn
pydantic
torch
xgboost
plotly-express
streamlit
streamlit-extras
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-autorefs
pymdown-extensions
black
pywebview
